$bg-color__main: #3397c1;
$color-title__white: #fff;
$color-title__black: #000;
$color-nav-white: #fff;
$border-form__input: rgb(235, 235, 235);
$btn-border__form__submit: rgba(235, 235, 235, 0.877);
$shadow-main: 5px 5px 10px rgba(44, 44, 44, 0.5);
$bg-block__range: #e6e6e6e6;
